<div>
    <h2 id="page-heading">
        <span jhiTranslate="innoprostApp.campioneBiologico.home.title">Campione Biologicos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campione-biologico-my-suffix" [routerLink]="['/campione-biologico-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="innoprostApp.campioneBiologico.home.createLabel">
            Create new Campione Biologico
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campioneBiologicos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.codRH">Cod RH</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.numeroCartellaClinica">Numero Cartella Clinica</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.codUMG">Cod UMG</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.dataEsecuzione">Data Esecuzione</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.etaPaziente">Eta Paziente</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.dimensioneGhiandolaProstatica">Dimensione Ghiandola Prostatica</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.tipoCampione">Tipo Campione</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.valutazionePCA3">Valutazione PCA 3</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.psaTotale">Psa Totale</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.rapportoFT">Rapporto FT</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.psaFree">Psa Free</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.malattia">Malattia</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.dataBiopsia">Data Biopsia</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.esitoBiopsiaProstaticaGleasonScoreComposizione">Esito Biopsia Prostatica Gleason Score Composizione</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.esitoBiopsiaProstaticaGleasonScore">Esito Biopsia Prostatica Gleason Score</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.numeroPrelieviPositiviSulTotale">Numero Prelievi Positivi Sul Totale</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.totalePrelievi">Totale Prelievi</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.pregressaChirurgiaProstatica">Pregressa Chirurgia Prostatica</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.terapiaInibitori5AlfaReduttasi">Terapia Inibitori 5 Alfa Reduttasi</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.terapiaAntiandrogenicaNeoadiuvante">Terapia Antiandrogenica Neoadiuvante</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.radioterapiaPelvi">Radioterapia Pelvi</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.rischio">Rischio</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.dataIntervento">Data Intervento</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.esameIstologicoT">Esame Istologico T</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.esameIstologicoN">Esame Istologico N</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.esameIstologicoGleasonScoreComposizione">Esame Istologico Gleason Score Composizione</span></th>
            <th><span jhiTranslate="innoprostApp.campioneBiologico.esameIstologicoGleasonScore">Esame Istologico Gleason Score</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campioneBiologico of campioneBiologicos ;trackBy: trackId">
                <td><a [routerLink]="['/campione-biologico-my-suffix', campioneBiologico.id, 'view' ]">{{campioneBiologico.id}}</a></td>
                <td>{{campioneBiologico.codRH}}</td>
                <td>{{campioneBiologico.numeroCartellaClinica}}</td>
                <td>{{campioneBiologico.codUMG}}</td>
                <td>{{campioneBiologico.dataEsecuzione | date:'mediumDate'}}</td>
                <td>{{campioneBiologico.etaPaziente}}</td>
                <td>{{campioneBiologico.dimensioneGhiandolaProstatica}}</td>
                <td jhiTranslate="{{'innoprostApp.TipoCampione.' + campioneBiologico.tipoCampione}}">{{campioneBiologico.tipoCampione}}</td>
                <td>{{campioneBiologico.valutazionePCA3}}</td>
                <td>{{campioneBiologico.psaTotale}}</td>
                <td>{{campioneBiologico.rapportoFT}}</td>
                <td>{{campioneBiologico.psaFree}}</td>
                <td jhiTranslate="{{'innoprostApp.TipoMalattia.' + campioneBiologico.malattia}}">{{campioneBiologico.malattia}}</td>
                <td>{{campioneBiologico.dataBiopsia | date:'mediumDate'}}</td>
                <td>{{campioneBiologico.esitoBiopsiaProstaticaGleasonScoreComposizione}}</td>
                <td>{{campioneBiologico.esitoBiopsiaProstaticaGleasonScore}}</td>
                <td>{{campioneBiologico.numeroPrelieviPositiviSulTotale}}</td>
                <td>{{campioneBiologico.totalePrelievi}}</td>
                <td>{{campioneBiologico.pregressaChirurgiaProstatica}}</td>
                <td>{{campioneBiologico.terapiaInibitori5AlfaReduttasi}}</td>
                <td>{{campioneBiologico.terapiaAntiandrogenicaNeoadiuvante}}</td>
                <td>{{campioneBiologico.radioterapiaPelvi}}</td>
                <td jhiTranslate="{{'innoprostApp.TipoRischio.' + campioneBiologico.rischio}}">{{campioneBiologico.rischio}}</td>
                <td>{{campioneBiologico.dataIntervento | date:'mediumDate'}}</td>
                <td>{{campioneBiologico.esameIstologicoT}}</td>
                <td>{{campioneBiologico.esameIstologicoN}}</td>
                <td>{{campioneBiologico.esameIstologicoGleasonScoreComposizione}}</td>
                <td>{{campioneBiologico.esameIstologicoGleasonScore}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campione-biologico-my-suffix', campioneBiologico.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campione-biologico-my-suffix', campioneBiologico.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campione-biologico-my-suffix/'+ campioneBiologico.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
